<div [@routerTransition]>
  <h5 style="margin-top: -9px">Tax Declaration</h5>
  <hr style="margin-top: 10px">

  <div class="card">
    <div class="card-header">
      LIST OF PERSON
    </div>

    <div class="card-body">
      <div class="col-md-12" *ngIf="this.lstPerson">
        <table id="no-more-tables" class="rwd-table table card-block table-striped table-hover">
          <thead>
            <tr>
              <th>OBJECT ID</th>
              <th>ID</th>
              <th>FIRST NAME</th>
              <th>LAST NAME</th>
              <th>EMAIL</th>
              <th>GENDER</th>
              <th>IP ADDRESS</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of lstPerson | async; let i = index">
              <td>{{item._id}}</td>
              <td>{{item.id}}</td>
              <td>{{item.first_name}}</td>
              <td>{{item.last_name}}</td>
              <td>{{item.email}}</td>
              <td>{{item.gender}}</td>
              <td>{{item.ip_address}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>