<nav [ngClass]="{collapsed: collapsed}" class="navbar navbar-light bg-light fixed-top" style="border-bottom: 1px solid #9e9e9e; height: 50px">
    <img src="assets/images/logo.png" style="width: 2%; position: absolute"/>
    <a class="navbar-brand" href="#" style="position: absolute; margin-left: 50px; color: #000">Scaffold</a>
    <button (click)="toggleCollapsed()" style="position: absolute; margin-left: 150px" class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
</nav>