<div class="container">
    <div class="bg-primary login-container">
        <div class="row">
            <div class="login-form">
                <h4 style="text-align: center; font-weight: bold">Login to your account</h4>
                <input type="text" class="form-control" style="width: 90%; margin-bottom: 25px; margin-right: auto; margin-left: auto; border-radius: 20px">
                <input type="text" class="form-control" style="width: 90%; margin-bottom: 25px; margin-right: auto; margin-left: auto; border-radius: 20px">
                <button type="button" class="btn btn-primary">Login</button>
            </div>
            <div class="registration-form" style="padding: 10px">
                <h4 style="text-align: center; font-weight: bold">Dont have an account?</h4>
                <p>Registration is simply free and easy, or you can register using your social media account.</p>
                <button type="button" class="btn btn-outline-dark" style="border-radius: 20px">Register Now</button>
            </div>
        </div>
    </div>
</div>