<nav class="sidebar" [ngClass]="{ sidebarPushRight: isActive, collapsed: collapsed }">
    <div class="list-group">
        <a routerLink="/dashboard" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-dashboard"></i>&nbsp;
            <span>{{ 'Dashboard' | translate }}</span>
        </a>
        <a [routerLink]="['/forms']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-map-marker"></i>&nbsp;
            <span>{{ 'Zonal Valuation' | translate }}</span>
        </a>
        <a [routerLink]="['/grid']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-bank"></i>&nbsp;
            <span>{{ 'LRA Items' | translate }}</span>
        </a>
        <a [routerLink]="['/components']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-map"></i>&nbsp;
            <span>{{ 'Interactive Map' | translate }}</span>
        </a>
        <a [routerLink]="['/components']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-close"></i>&nbsp;
            <span>{{ 'Foreclosed' | translate }}</span>
        </a>
        <div class="nested-menu">
            <a class="list-group-item" (click)="addExpandClass('pages')">
                <i class="fa fa-calculator"></i>&nbsp;
                <span>{{ 'Taxes' | translate }}</span>
            </a>
            <li class="nested" [class.expand]="showMenu === 'pages'">
                <ul class="submenu">
                    <li>
                        <a [routerLink]="['/tax-declaration']" [routerLinkActive]="['router-link-active']">
                            <i class="fa fa-fw fa-bookmark-o"></i>&nbsp;
                            <span>{{ 'Tax Declaration' | translate }}</span>
                        </a>
                    </li>
                    <li>
                        <a [routerLink]="['/tax-receipt']" [routerLinkActive]="['router-link-active']">
                            <i class="fa fa-fw fa-list-alt"></i>&nbsp;
                            <span>{{ 'Tax Receipts' | translate }}</span>
                        </a>
                    </li>
                    <li>
                        <a [routerLink]="['/tax-mapping']" [routerLinkActive]="['router-link-active']">
                            <i class="fa fa-fw fa-map-signs"></i>&nbsp;
                            <span>{{ 'Tax Mapping' | translate }}</span>
                        </a>
                    </li>
                    <li>
                        <a [routerLink]="['/additional-taxes']" [routerLinkActive]="['router-link-active']">
                            <i class="fa fa-fw fa-money"></i>&nbsp;
                            <span>{{ 'Additional Taxes' | translate }}</span>
                        </a>
                    </li>
                </ul>
            </li>
        </div>
        <a [routerLink]="['/forms']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-gavel"></i>&nbsp;
            <span>{{ 'Litigations' | translate }}</span>
        </a>
        <a [routerLink]="['/bs-element']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-building-o"></i>&nbsp;
            <span>{{ 'Properties' | translate }}</span>
        </a>
        <a [routerLink]="['/grid']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-cubes"></i>&nbsp;
            <span>{{ 'Others' | translate }}</span>
        </a>
        <a [routerLink]="['/components']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-bar-chart-o"></i>&nbsp;
            <span>{{ 'Reports' | translate }}</span>
        </a>
        <a [routerLink]="['/components']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-cogs"></i>&nbsp;
            <span>{{ 'Admin' | translate }}</span>
        </a>
        <!-- <div class="nested-menu">
            <a class="list-group-item" (click)="addExpandClass('pages')">
                <i class="fa fa-plus"></i>&nbsp;
                <span>{{ 'Menu' | translate }}</span>
            </a>
            <li class="nested" [class.expand]="showMenu === 'pages'">
                <ul class="submenu">
                    <li>
                        <a href="javascript:void(0)">
                            <i class="fa fa-monument"></i>&nbsp;
                            <span>{{ 'Submenu' | translate }}</span>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:void(0)">
                            <i class="fa fa-monument"></i>&nbsp;
                            <span>{{ 'Submenu' | translate }}</span>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:void(0)">
                            <i class="fa fa-monument"></i>&nbsp;
                            <span>{{ 'Submenu' | translate }}</span>
                        </a>
                    </li>
                </ul>
            </li>
        </div> -->
    </div>
    <div class="toggle-button" [ngClass]="{collapsed: collapsed}" (click)="toggleCollapsed()">
        <i class="fa fa-fw fa-angle-double-{{collapsed?'right':'left'}}"></i>&nbsp;
        <span>{{ 'Collapse Sidebar' | translate }}</span>
    </div>
</nav>
