<nav class="sidebar" [ngClass]="{ sidebarPushRight: isActive, collapsed: collapsed }">
    <div class="list-group">
        <a routerLink="/dashboard" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-dashboard"></i>&nbsp;
            <span>{{ 'Dashboard' | translate }}</span>
        </a>
        <a [routerLink]="['/forms']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-map-marker"></i>&nbsp;
            <span>{{ 'Menu 1' | translate }}</span>
        </a>
        <a [routerLink]="['/grid']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-bank"></i>&nbsp;
            <span>{{ 'Menu 2' | translate }}</span>
        </a>
        <a [routerLink]="['/components']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-map"></i>&nbsp;
            <span>{{ 'Menu 3' | translate }}</span>
        </a>
        <a [routerLink]="['/components']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-close"></i>&nbsp;
            <span>{{ 'Menu 4' | translate }}</span>
        </a>
        <div class="nested-menu">
            <a class="list-group-item" (click)="addExpandClass('spring')">
                <i class="fa fa-calculator"></i>&nbsp;
                <span>{{ 'Spring API' | translate }}</span>
            </a>
            <li class="nested" [class.expand]="showMenu === 'spring'">
                <ul class="submenu" style="margin-bottom: 0px">
                    <li>
                        <a [routerLink]="['/tax-declaration']" [routerLinkActive]="['router-link-active']">
                            <i class="fa fa-fw fa-bookmark-o"></i>&nbsp;
                            <span>{{ 'Author' | translate }}</span>
                        </a>
                    </li>
                    <li>
                        <a [routerLink]="['/tax-receipt']" [routerLinkActive]="['router-link-active']">
                            <i class="fa fa-fw fa-list-alt"></i>&nbsp;
                            <span>{{ 'Post' | translate }}</span>
                        </a>
                    </li>
                    <li>
                        <a [routerLink]="['/tax-mapping']" [routerLinkActive]="['router-link-active']">
                            <i class="fa fa-fw fa-map-signs"></i>&nbsp;
                            <span>{{ 'Person' | translate }}</span>
                        </a>
                    </li>
                    <li>
                        <a [routerLink]="['/additional-taxes']" [routerLinkActive]="['router-link-active']">
                            <i class="fa fa-fw fa-money"></i>&nbsp;
                            <span>{{ 'Address' | translate }}</span>
                        </a>
                    </li>
                    <li>
                        <a [routerLink]="['/additional-taxes']" [routerLinkActive]="['router-link-active']">
                            <i class="fa fa-fw fa-usd"></i>&nbsp;
                            <span>{{ 'Stock' | translate }}</span>
                        </a>
                    </li>
                    <li>
                        <a [routerLink]="['/additional-taxes']" [routerLinkActive]="['router-link-active']">
                            <i class="fa fa-fw fa-car"></i>&nbsp;
                            <span>{{ 'Car' | translate }}</span>
                        </a>
                    </li>
                </ul>
            </li>
        </div>
        <div class="nested-menu">
            <a class="list-group-item" (click)="addExpandClass('express')">
                <i class="fa fa-exchange"></i>&nbsp;
                <span>{{ 'Express API' | translate }}</span>
            </a>
            <li class="nested" [class.expand]="showMenu === 'express'">
                <ul class="submenu" style="margin-bottom: 0px">
                    <li>
                        <a [routerLink]="['/person']" [routerLinkActive]="['router-link-active']">
                            <i class="fa fa-fw fa-map-signs"></i>&nbsp;
                            <span>{{ 'Person' | translate }}</span>
                        </a>
                    </li>
                    <li>
                        <a [routerLink]="['/address']" [routerLinkActive]="['router-link-active']">
                            <i class="fa fa-fw fa-money"></i>&nbsp;
                            <span>{{ 'Address' | translate }}</span>
                        </a>
                    </li>
                    <li>
                        <a [routerLink]="['/stock']" [routerLinkActive]="['router-link-active']">
                            <i class="fa fa-fw fa-usd"></i>&nbsp;
                            <span>{{ 'Stock' | translate }}</span>
                        </a>
                    </li>
                    <li>
                        <a [routerLink]="['/car']" [routerLinkActive]="['router-link-active']">
                            <i class="fa fa-fw fa-car"></i>&nbsp;
                            <span>{{ 'Car' | translate }}</span>
                        </a>
                    </li>
                </ul>
            </li>
        </div>
        <a [routerLink]="['/bs-element']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-building-o"></i>&nbsp;
            <span>{{ 'Menu 7' | translate }}</span>
        </a>
        <a [routerLink]="['/grid']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-cubes"></i>&nbsp;
            <span>{{ 'Menu 8' | translate }}</span>
        </a>
        <a [routerLink]="['/components']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-bar-chart-o"></i>&nbsp;
            <span>{{ 'Menu 9' | translate }}</span>
        </a>
        <a [routerLink]="['/components']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-cogs"></i>&nbsp;
            <span>{{ 'Menu 10' | translate }}</span>
        </a>
    </div>
    <div class="toggle-button" [ngClass]="{collapsed: collapsed}" (click)="toggleCollapsed()">
        <i class="fa fa-fw fa-angle-double-{{collapsed?'right':'left'}}"></i>&nbsp;
        <span>{{ 'Collapse Sidebar' | translate }}</span>
    </div>
</nav>
