.form-group{
    border:1px solid gray;
    border-radius: 5px;
}

.form-group>label{
    position: relative;
    top: -14px;
    left: 30px;
    padding-left: 8px;
    padding-right: 8px;
    background-color: white;
    text-align: center;
    font-size: 15px;
}

.form-group>input{
    border:none;
    margin-top: -27px
}